body{margin: 0;margin-bottom:10%;padding: 0;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
nav{height: 50px; background-color: white;}
#contenedor{padding:0;margin: 0;background-color: white;}
footer{height: 60px;}
/*article{height: 200px;}*/



.fondo{
    padding-right: 10px;
    margin-left: 52px;
}
.contenido{
    width: 90%;
    height: auto;
    padding: 10px 10px 10px 30px;
    margin-top: 30px;
    display: block;
    float: left;
}
.der iframe{
    border: 0;
    width: 100%;
    height: 200px;

}
/*Formulario*/

*{
    box-sizing: border-box;
}
.fondoformulario{
    width: 100%;
    box-shadow: 1 1px 6px rgba(0,0,0,.1);
    background-color: rgb(223, 219, 219);
}
.tituloform{
    padding-left: 46%;
}
fieldset{
    border: none;
}
.nomcampo{

    display: inline-block;
    width: 80px;
    padding-bottom: 10px;
    min-width: 60px;
    font-size: 12px;
}
.otro *{
    vertical-align: middle;
}
.formulario{
    padding-left: 30px;
    margin-bottom: 30px;
    text-align: center  ;
}
form{
    padding-top: 10px;
    padding-bottom: 30px;
}
legend{
    padding-bottom: 7px;
    padding-top: 7px;
}
.prueba{
    margin-bottom: 30px;
}
.legend{
    background-color: #3E5062;
    color: white;
    margin-top: 10px;
    margin-right: 10%;
    margin-left: 10%;
    height: 35px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 3px 3px 3px 3px rgb(189, 185, 185);
}
.legend:hover{
    background: linear-gradient(180deg,#ff8a00,#e52e71);
}
textarea{
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
    height: 50px;
    width: 170px;
    resize: none;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
}
button{padding:8px 12px;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s;
    margin-left:7%;
    margin-bottom: 10px;
}
button:hover{background:#78788c;
    color:#fff}

input[type=text], input[type=mail]{
    border: none;
    background-color: rgb(223, 219, 219);
    border-bottom: 1px solid rgba(0, 0, 0, 0.438);
}
input[type=text]:focus, input[type=mail]:focus{
    border: none;
    background-color: rgb(223, 219, 219);
    border-bottom: 1px solid blue;
    color: red
}
.nomcampo:hover{
        color: blue;
        cursor: pointer;
        transition:all .3s;
        font-size: 14px;
}

input:focus, input.form-control:focus, textarea {

    outline:none;
    outline-width: 0 ;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
::-webkit-input-placeholder {
    text-align: center;
    padding-top: 13px;
 }


/**/

/*Barra Derecha*/
.der h4{
    text-align: center;
    padding-top: 8px;
}
aside.der{
    width: 50%;
}
div.calendario{
    width: auto;
    background-color: white;
    padding-right: 5px;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
.mapa{
    width: auto;
    margin-top: 50px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

div.titulo{
    background-color: #3E5062;
    color: white;
    height: 35px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 3px 3px 3px 3px rgb(189, 185, 185);
}
.tituloform {
    
        background: linear-gradient( rgba(136, 136, 136, 0.808),#3EBF93);
          color: white;
          height: 35px;
          width: 55%;
          text-align: center;
          margin-bottom: 7%;
          margin-top: 4%;
          margin-left: 25%;
          border-radius: 3px 3px 3px 3px;
          box-shadow: 3px 3px 3px 3px rgb(189, 185, 185);
          padding-left: 2%;
        }
      h4{
        text-align: center;
        padding-top: 5px;
        padding-bottom: 15px;
      }


/**/

/*Posicionamiento*/
#contenedor{
    display: flex;
    flex-direction: row;
    padding-right: 3%;
}
main{
    flex: 80%;
    padding-left: 3%;
}
.der{
    flex: 15%;
}

/*Tablet*/

@media screen and (max-width : 768px){
    main{
        flex:100%;
    }
    nav{
        display: none;
    }
    .tituloform{
        font-size: 13px;
    }
    .fondo{
        margin-left: 0;
        text-align: center;
        margin-right: 9%;
    }
    *{
        box-sizing: unset;
    }
}
/**/

/*Movil*/
@media screen and (max-width : 425px){
    label{
        margin-top: 10px;
    }
    .tituloform{
        font-size: 13px;
        margin-left:0;
        width: auto;
    }
    .nomcampo{
        margin-top: 10px;
    }
    .formulario{
        padding-left: 0;
    }
    .contenido{
        margin-left: 10%;
        padding:0;
    }
    *{
        box-sizing:inherit ;
    }
    .fondo{
        margin-right: 0;
    }
    span{
        font-size: 12px;
    }
}