body{margin-bottom: 7%;padding: 0;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
#contenedor{padding:0;margin: 0;background-color: white;}

/*Al contenido se le asigna un width del 100% para que ocupe todo el ancho,un margen automatico y que sus elementos se muestren en bloque(empiezan en una linea nueva) y con el float consigue que el elemento flote a la izquierda dentro de este contenedor*/
.contenido{
    width: 100%;
    margin: auto;
    display: block;
    float: left;
}

/*A este contenedor se le asigna un background y el resto de prpiedades*/
.titulo{
  background: linear-gradient( rgba(136, 136, 136, 0.808),#3EBF93);
    color: white;
    height: 5%;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 3px 3px 3px 3px rgb(189, 185, 185);
    padding-left: 2%;
}

/*Se le asigna un margin top para que aparezca arriba de las imagenes,un padding para que esté centrado en el contenedor y no toque con los bordes*/
h4{
  margin-top: 65px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 7px;
}



  /*Galeria de imagenes*/
  .galeria {
    width: 90%;
    
  }
  .pinchar:hover {
    color: #3EBF93;
      cursor: pointer;
    }

  .galeria img {
      width: 350px;
      height: 300px;
      /*overflow: hidden;*/
      display: block;
    }

    /*Se deja un padding y un margin bottom en todos los lados para que las fotos no esten tan juntas(afecta al texto) y se añade un sombreado a las letras*/
  .desc {
      padding: 15px;
      margin-bottom: 10px;
      text-align: left;
      color: gray;
      text-shadow: 2px 2px 4px #00000038;
    }
    
    /*Se quita el subrayado de los nombres de cada foto*/
    a{
      text-decoration: none;
      color: gray;
    }

    /*Esto afecta a todos los elementos que esten dentro de otro*/
    * {
      box-sizing: border-box;
    }
    .foto{
      display: block;
      /*margin: auto;*/
    }
    
    /*A cada contenedor que contiene las imagenes se le asigna un 25% del 100% que posee,con el float se consigue que se pongan uno al lado del otro*/
  .caja {
      padding: 0 6px;
      float: left;
      width: 25%;
      display: block;
      transition-duration: 0.4s;
   
    }

    .sombra:hover{
      box-shadow: 2px 2px 2px 2px rgba(146, 146, 146, 0.3),0 10px 10px 0 rgba(117, 117, 117, 0.315);
    }

    
    /*TABLET Y MOVIL*/
    @media only screen and (max-width: 768px) {
      
     /*Se le asigna un width del 50% para que ocupe la mitad del ancho de la pantalla y que las imagenes salgan de dos en dos*/ 
      .caja {
        width: 50%;
        margin: 6px 0;
      }

      /*Se le asigna un margin top al h4 para que el título se sitúe justo donde está*/
      h4{
        margin-top: 20px;
    }
    /*Se le asigna un margin bottom al body para que deje un margen entre el contenido y el pie de página*/
    }
    body{
      margin-bottom: 15%;
    }

    @media only screen and (max-width: 425px) {
      
      /*Se le asigna un width del 85% para que aparezca las imagenes de una en una*/
      .caja {
        width: 85%;
        /*display: block;*/
        margin: 0 auto;
        padding-right: 15px;
        
      }
      /*.contenido{
        margin-top: 0;
      }*/
      
      /*Se aplica estos márgenes y padding para que se situe el div donde se encuentra actualmente*/
      .titulo{
        margin-bottom: 0%;
        margin-top: 0%;
        margin-left: 107px;
        padding-left: 2%;
    }

    /*Se le aplica un padding,un margin left y un text align center para situar correctamente el nombre de la foto debajo suya*/
    .desc {
      padding: 15px;
      margin-left: 60px;
      text-align: center;
    }
    
    /*Se le asigna a este div un 50% de width y un margin 0 auto para que se ajuste automaticamente a la pantalla*/
    .galeria {
      width: 50%;
      margin: 0 auto;
  }
  h4{
    margin-top: 20px;
}
    .galeria img {
      width: 241px;
      height: 210px;
  }
    }

    
    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }