body{margin-bottom: 10%;padding: 0;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
#contenedor{padding:0;margin: 0;background-color: white;}
.fondo{
    padding-right: 10px;
    margin-left: 52px;
}
.contenido{
    width: 100%;
    margin: auto;
    display: block;
    float: left;
    overflow: hidden;
}
.titulo{
  background: linear-gradient( rgba(136, 136, 136, 0.808),#3EBF93);
    color: white;
    height: 5%;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 3px 3px 3px 3px rgb(189, 185, 185);
    padding-left: 2%;
}
h4{
  margin-top: 65px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 7px;
}
/*PIE PAGINA*/

html {
    min-height: 100%;
    position: relative;
  }
  /* PIE DE PAGINA*/
  .piepagina{
      background-color: rgb(209, 208, 206);
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      border-top: 5px solid #3EBF93;
      display: block;
  }
  p {
      text-align: center;
      color: rgb(121, 121, 121);
      margin: 0;
      padding: 0;
      font-size: 14px
  }
  /*REDES SOCIALES*/
  .logo0 {
      padding-top: 5px;
      width: 25px;
      height: 25px;

  }
  .logo1 {
      padding-top: 5px;
      width: 25px;
      height: 25px;

  }
  .logo2 {
      padding-top: 5px;
      width: 25px;
      height: 25px;

  }
  .logo0:hover, .logo1:hover, .logo2:hover{
    animation: vuelta 3s infinite;
    transform: rotate(30deg);
}
@keyframes vuelta {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /*Galria de imagenes*/
  .galeria {
    width: 90%;
    
  }
  .pinchar:hover {
    color: #3EBF93;
      cursor: pointer;
    }

  .galeria img {
      width: 350px;
      height: 300px;
      overflow: hidden;
      display: block;
    }

  .desc {
      padding: 15px;
      margin-bottom: 10px;
      text-align: center;
      color: gray;
    }
    a{
      text-decoration: none;
      color: gray;
    }

    * {
      box-sizing: border-box;
    }
    .foto{
      display: block;
      margin: auto;
    }
    
  .caja {
      padding: 0 6px;
      float: left;
      width: 25%;
      display: block;
      overflow: hidden;
      transition-duration: 0.4s;
   
    }
    .sombra:hover{
      box-shadow: 2px 2px 2px 2px rgba(146, 146, 146, 0.3),0 10px 10px 0 rgba(117, 117, 117, 0.315);
    }
    /*TABLET Y MOVIL*/
    @media only screen and (max-width: 768px) {
      .caja {
        width: 50%;
        margin: 6px 0;
      }
      h4{
        margin-top: 20px;
    }
    
    }
    body{
      margin-bottom: 15%;
    }

    @media only screen and (max-width: 425px) {
      .caja {
        width: 85%;
        display: block;
        margin: 0 auto;
        
      }
      .contenido{
        margin-top: 0;
      }
      .titulo{
        margin-bottom: 0%;
        margin-top: 0%;
        margin-left: 26%;
        padding-left: 2%;
    }
    .desc {
      padding: 15px;
      margin-left: 60px;
      text-align: center;
    }
    .galeria {
      width: 50%;
      margin: 0 auto;
  }
  h4{
    margin-top: 20px;
}
    .galeria img {
      width: 241px;
      height: 210px;
  }
    }
    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }