html {
    position: relative;
    min-height: 100%;
  }
<<<<<<< HEAD
  body{
    margin: 0;
    margin-bottom: 10%;
  }
  .piepagina{
    background-color: rgb(209,208,206);
    bottom: 0;
    position: absolute;
=======
  .piepagina{
    background-color: rgb(209,208,206);
    position: absolute;
    bottom: 0;
>>>>>>> fadb1fd4f69eae4fa8433c8fe8123bd09b687719
    width: 100%;
    color: white;
    text-align: center;
    border-top: 5px solid #3EBF93;
    display: block;
<<<<<<< HEAD
    margin-top: 30%;
=======
>>>>>>> fadb1fd4f69eae4fa8433c8fe8123bd09b687719
}
.piepagina p {
    text-align: center;
    color: rgb(121, 121, 121);
    margin: 0;
    padding: 0;
    font-size: 14px
}
/*REDES SOCIALES*/
.logo0 {
    padding-top: 5px;
    width: 27px;
    
}
.logo1 {
    padding-top: 5px;
    width: 27px;
    height: auto;
    
}
.logo2 {
    padding-top: 5px;
    width: 27px;
   
}
.logo0:hover, .logo1:hover, .logo2:hover{
    animation: vuelta 3s infinite;
    transform: rotate(30deg);
}
@keyframes vuelta {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }