
/*Se le asigna un height al body,que no tenga margen por ningun lado y se cambia el tipo de letra en todo el body*/
body{
    height: 100%;
    margin:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*El min-height previene que el height se haga mas chico de lo que se le ha indicado con esta propiedad*/
html {
    height: 100%;
    min-height: 100%;
}

/*HERO IMAGE*/

/*Se le asigna el fondo al contenedor,un height,que la foto se situe en el centro */
.fondo {
    background-image: url("../imagenes/logo/pizarra.jpg");
    height: 100%;
    background-position: center;
}

/*La posicion es absoluta(se trae al frente) y el resto es para ajustar su posicion justamente en todo el centro*/
.hero-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Se posiciona relativamente a su posición,aplicandose el resto de características de posición*/
.hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    color: white;
}

/*Se le asigna una imagen al contenedor y se le indica que el tamaño se ajuste al contenedor con el resto de codigos de tamaño*/
.miLogo {
    background-image: url("../imagenes/logo/logo.png");
    background-size: cover;
    width: 350px;
    height: 350px;
    /*display: block;*/
    /*float: left;*/
}


    /*BOTON*/
.hero-text button {
    border: none;
    border-radius: 7px;
    /*outline: 0;*/
    /*display: inline-block;*/
    padding: 10px 25px;
    color: white;
    text-align: center;
    cursor: pointer;

    /*Tarda 0.4 s en que aparezca la animación y el objeto sobre el que se aplica la animación quedará con los valores y estilos que le aplique el último keyframe de la ejecución de la animación*/
     /*ANIMACION BOTON*/
    transition-duration: 0.4s;
    animation-name: boton;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
  }
  /*El boton de entrar se irá oscureciendo poco a poco*/
  @keyframes boton {
    from {top: 0px;}
    to {top: 200px; background-color: rgb(104, 104, 104);}
  }
 
 .nombre {
    text-align: center;
    /*text-decoration: none;*/
    color: rgb(255, 255, 255);
    cursor: pointer;
}  

 .hero-text button:hover {
    /*background-color: rgb(68, 68, 68);*/
    box-shadow: 12px 17px 23px 10px rgba(0, 0, 0, 0.3),0 23px 58px 0 rgba(0, 0, 0, 0.534);
     }    
      
  