body{
    height: 100%;
    margin:0;
    margin-bottom: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html {
    height: 100%;
    min-height: 100%;
    position: relative;
}
/* PIE DE PAGINA*/
.piepagina{
    background-color: rgb(209, 208, 206);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    border-top: 5px solid #3EBF93;
    display: block;
}
p {
    text-align: center;
    color: rgb(121, 121, 121);
    margin: 0;
    padding: 0;
    font-size: 14px
}
/*REDES SOCIALES*/
.logo0 {
    padding-top: 5px;
    width: 25px;
    height: 25px;
    
}
.logo1 {
    padding-top: 5px;
    width: 25px;
    height: 25px;
    
}
.logo2 {
    padding-top: 5px;
    width: 25px;
    height: 25px;
   
}
.logo0:hover, .logo1:hover, .logo2:hover{
    animation: vuelta 3s infinite;
    transform: rotate(30deg);
}
@keyframes vuelta {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/*HERO IMAGE*/
.fondo {
    background-image: url("../imagenes/logo/pizarra.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
.hero-image {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    color: white;
}
.miLogo {
    background-image: url("../imagenes/logo/logo.png");
    background-size: cover;
    width: 350px;
    height: 350px;
     display: block;
    float: left;
}
    /*BOTON*/
.hero-text button {
    border: none;
    border-radius: 7px;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: white;
    text-align: center;
    cursor: pointer;
     /*ANIMACION BOTON*/
    transition-duration: 0.4s;
    animation-name: boton;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
  }
  @keyframes boton {
    from {top: 0px;}
    to {top: 200px; background-color: rgb(104, 104, 104);}
  }
 
 .nombre {
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}  
 .hero-text button:hover {
    background-color: rgb(68, 68, 68);
    box-shadow: 12px 17px 23px 10px rgba(0, 0, 0, 0.3),0 23px 58px 0 rgba(0, 0, 0, 0.534);
     }    
      
  