body{width: 100%; margin: 0; padding: 0; margin-bottom: 10%; padding: 0; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
nav{width: 50%; margin: auto; background-color: white;}
#contenedor{padding:0;margin: 0 auto; }
.fondo{ padding-right: 10px; margin-left: 1%;}

/* HORARIO*/
.contenido{
    width: 90%;
    height: auto;
    background-color: rgba(250, 246, 246, 0.514);
    padding: 10% 10% 5% 10%;
    margin-top: 8%;
    margin-bottom: 8%;
    display: block;
    float: left;
    border-radius: 7px;
}
/* links de novedades hacia la junta */
.contenido2{
    width: 100%;
    height: auto;
    background-color: rgba(250, 246, 246, 0.555);
    padding: 10px 30px 10px 30px;
    margin-top: 30px;
    display: block;
    float: left;
    border-radius: 7px;
}
a{
    text-decoration: none;
    color: gray;
}
a:hover{
    color:#3EBF93;
}
/* Columna derecha: mapa, calendario y logoi junta */
.der iframe{
    border: 0;
    width: 100%;
    height: 200px;

}
.sepaarticulos{
    padding-top: 30px;
    margin-left: 25%;
    width: 50%;
}
.titulo{
    background: linear-gradient( rgba(136, 136, 136, 0.808),rgba(62, 191, 148, 0.815));
    color: white;
    height: 35px;
    text-align: center;
    margin-bottom: 4%;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 3px 3px 3px 3px rgb(189, 185, 185);
}
.der h4{
    text-align: center;
    padding-top: 8px;
    
}
div.calendario{
    width: auto;
    background-color: white;
    padding-right: 5px;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
.junta{
    width: auto;
    margin-top: 50px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
.junta img{
    width: 90px;
    height: 70px;
  }
.mapa{
    width: auto;
    margin-top: 50px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
/* ESTRUCTURA DEL HORARIO Y LAS NOVEDADES */
article{
    width: 80%;
    margin: auto;
}
 /*Tabla del horario*/
  table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #e7e7e7 }
  th {
    color: white;
  }
  /*titulo y celdas de la tabla*/
.viernes{ 
    /*titulo*/
    background: linear-gradient( rgba(136, 136, 136, 0.582),rgba(62, 191, 148, 0.521));
      color: white;
      text-align: center;
      border-radius: 3px 3px 3px 3px;
      box-shadow: 3px 3px 3px 3px rgb(189, 185, 185);
      padding-left: 2%;
      font-size: 13px;
        height: 0px;
        width: 0%; 
        margin-top:0%; 
        margin-left: 0%;
        padding-left: 0%;
      
  }
  /*celdas*/
  .turno{
      font-size: larger;
      color: rgb(255, 255, 255);
      text-shadow: 2px 2px 4px #00000094;
   
  }
  .hora{
      font-size: 14px;
      color: rgb(48, 163, 125);

  }
  /*titulos pincipales (horario de secretaria y novedades)*/
  h1{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    
  }
  .horario{
    text-align: center;
    padding-top: 9%;
    color: rgb(167, 167, 167);
    margin: auto;
    text-shadow: 2px 2px 4px #00000038;
      
  }
  .novedades{
    text-align: left;
    padding-top: 62%;
    padding-bottom: 15px;
    color: rgba(58, 184, 142, 0.719);
    margin-top: 5px;
    margin: auto;
    text-shadow: 2px 2px 4px #00000038;
      
  }

/*Posicionamiento*/
#contenedor{
    padding-right: 3%;
    display: flex;
    flex-direction: row;
}
main{
    flex: 50%;
    margin: auto;
    margin-top: 5%;
    padding-left: 3%;
    
}
.der{
    flex: 1%;
}
/*DISEÑO PARA TABLET*/
@media screen and (max-width : 768px){
        nav{
            display: none;
            width: 100%;
        }
        main{
           padding-left: 0;
           flex: 100%;
           margin-top: 0;
        }
        footer{
            width: 100%;
        }
        .horario{
        margin-top: 0;
        }
        .tablon{
        margin-top: 75px;
        }
        .novedades {
        padding-top: 55%;
        font-size: 16px;
        }
        #contenedor{
        padding-right: 0;
         width: 100%;
        margin: auto;
        }
        .turno{
        font-size: 14px;
        }
        .tablon{
        margin-top: 25px;
        font-size: 10px;
            
        }
        h1{
        font-size: 20px;
        }
        
}
/*DISEÑO PARA MOVIL*/
@media screen and (max-width : 480px){
    div.rayitas{
        width: 100%;
    }
    main{
        width: 100%;
        margin: 0 auto;
    }
    .fondo{
        margin-left: 30px;
        text-align: left;
        margin-right: 30px;
    }
    .novedades{  
    padding-top: 75%;
}
}